<div class="form-group">
    <label for="Nombre">Nombre</label>
    <input id="Nombre" type="text"/>

    <label for="Precio">Precio</label>
    <input id="Precio" type="text" />

    <button id="GuardarProducto"> Guardar </button>
</div>
