
@{
    ViewBag.Title = "Mantenimiento De Producto";
}

<h2>Tabla De Producto</h2>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Precio</td>
        </tr>
    </thead>
</table>